tasks/n8n-workflows/social-post-schedule.json
{
  "name": "CC — Social Post (Every 2 Hours)",
  "nodes": [
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Run social:post",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "command": "cd /d \"C:\\Users\\loneb\\Documents\\ai-software-dev\\projects\\cameroon.concord\" && npm run social:post"
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Check Exit Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {}
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Run social:post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run social:post": {
      "main": [
        [
          {
            "node": "Check Exit Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Exit Code": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Africa/Douala"
  },
  "versionId": "f2a3b4c5-d6e7-8901-fabc-012345678901",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "a3b4c5d6-e7f8-9012-abcd-123456789012",
  "tags": [
    { "name": "cameroon-concord" },
    { "name": "social" }
  ],
  "pinData": {}
}
