social-automation/workflows/workflow-comment-engagement.json
{
  "name": "Concord — Comment Engagement",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "cc-ce-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      }
    },
    {
      "id": "cc-ce-0002",
      "name": "Build FB Comments Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "const FB_PAGE_ID = 'REPLACE_WITH_FB_PAGE_ID';\nconst FB_ACCESS_TOKEN = 'REPLACE_WITH_FB_PAGE_TOKEN';\n\nreturn [{\n  json: {\n    url: `https://graph.facebook.com/v19.0/${FB_PAGE_ID}/posts?fields=id,message,created_time&limit=10&access_token=${FB_ACCESS_TOKEN}`,\n    fb_page_id: FB_PAGE_ID,\n    fb_token: FB_ACCESS_TOKEN\n  }\n}];"
      }
    },
    {
      "id": "cc-ce-0003",
      "name": "Fetch FB Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-ce-0004",
      "name": "Extract Post IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst fbToken = $('Build FB Comments Request').first().json.fb_token;\nconst posts = response.data || [];\n\nreturn posts.map(post => ({\n  json: {\n    post_id: post.id,\n    url: `https://graph.facebook.com/v19.0/${post.id}/comments?fields=id,from,message,created_time&limit=20&access_token=${fbToken}`,\n    fb_token: fbToken\n  }\n}));"
      }
    },
    {
      "id": "cc-ce-0005",
      "name": "Fetch Comments per Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-ce-0006",
      "name": "Extract Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nconst comments = [];\n\nfor (const item of allItems) {\n  const data = item.json.data || [];\n  for (const comment of data) {\n    if (!comment.message || comment.message.trim().length < 3) continue;\n    comments.push({\n      platform_comment_id: comment.id,\n      commenter_name: (comment.from && comment.from.name) ? comment.from.name : 'Unknown',\n      comment_text: comment.message.substring(0, 1000)\n    });\n  }\n}\n\nconst seen = new Set();\nconst uniqueComments = comments.filter(c => {\n  if (seen.has(c.platform_comment_id)) return false;\n  seen.add(c.platform_comment_id);\n  return true;\n});\n\nreturn [{ json: { comments: uniqueComments, count: uniqueComments.length } }];"
      }
    },
    {
      "id": "cc-ce-0007",
      "name": "Fetch Replied IDs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT platform_comment_id FROM social_comments WHERE fetched_at > NOW() - INTERVAL '30 days';"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-ce-0008",
      "name": "Filter New Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const repliedItems = $input.all();\nconst repliedIds = new Set(\n  repliedItems.map(item => item.json.platform_comment_id).filter(Boolean)\n);\n\nconst allComments = $('Extract Comments').first().json.comments || [];\nconst newComments = allComments.filter(c => !repliedIds.has(c.platform_comment_id));\n\nreturn [{ json: { new_comments: newComments, count: newComments.length } }];"
      }
    },
    {
      "id": "cc-ce-0009",
      "name": "IF: Any New Comments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-new-comments",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-ce-0010",
      "name": "Nothing New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 500],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No new comments to reply to', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cc-ce-0011",
      "name": "Expand to Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst comments = data.new_comments || [];\nreturn comments.map(c => ({ json: c }));"
      }
    },
    {
      "id": "cc-ce-0012",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ANTHROPIC_API_KEY = 'REPLACE_WITH_ANTHROPIC_KEY';\nconst comment = $input.first().json;\n\nconst systemPrompt = 'You are a community manager for Cameroon Concord, an independent Anglophone news platform. Reply to reader comments professionally, warmly, and briefly. Rules: Max 2 sentences. Never argue. Never discuss politics. Thank engagement. If the comment is hostile or offensive, reply calmly: \"Thank you for reading Cameroon Concord.\" Return ONLY the reply text. No JSON. No preamble.';\n\nconst userPrompt = `Comment from ${comment.commenter_name}: \"${comment.comment_text}\"\\n\\nWrite a brief, professional reply:`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 150,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n});\n\nreturn [{\n  json: {\n    api_key: ANTHROPIC_API_KEY,\n    request_body: requestBody,\n    platform_comment_id: comment.platform_comment_id,\n    commenter_name: comment.commenter_name,\n    comment_text: comment.comment_text\n  }\n}];"
      }
    },
    {
      "id": "cc-ce-0013",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2750, 150],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-ce-0014",
      "name": "Parse Claude Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.first().json;\nconst requestData = $('Build Claude Request').all()[$itemIndex].json;\n\nconst textBlock = (response.content || []).find(b => b.type === 'text');\nconst replyText = (textBlock && textBlock.text)\n  ? textBlock.text.trim()\n  : 'Thank you for reading Cameroon Concord.';\n\nreturn [{\n  json: {\n    platform_comment_id: requestData.platform_comment_id,\n    commenter_name: requestData.commenter_name,\n    comment_text: requestData.comment_text,\n    reply_text: replyText.substring(0, 500)\n  }\n}];"
      }
    },
    {
      "id": "cc-ce-0015",
      "name": "Build FB Reply Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.first().json;\nconst FB_ACCESS_TOKEN = 'REPLACE_WITH_FB_PAGE_TOKEN';\n\nreturn [{\n  json: {\n    url: `https://graph.facebook.com/v19.0/${item.platform_comment_id}/replies`,\n    request_body: JSON.stringify({\n      message: item.reply_text,\n      access_token: FB_ACCESS_TOKEN\n    }),\n    platform_comment_id: item.platform_comment_id,\n    commenter_name: item.commenter_name,\n    comment_text: item.comment_text,\n    reply_text: item.reply_text\n  }\n}];"
      }
    },
    {
      "id": "cc-ce-0016",
      "name": "Post Reply to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3500, 150],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-ce-0017",
      "name": "Prepare Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const replyData = $('Build FB Reply Request').all()[$itemIndex].json;\nreturn [{\n  json: {\n    platform_comment_id: replyData.platform_comment_id,\n    commenter_name: replyData.commenter_name,\n    comment_text: replyData.comment_text,\n    reply_text: replyData.reply_text\n  }\n}];"
      }
    },
    {
      "id": "cc-ce-0018",
      "name": "Insert social_comments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO social_comments (platform, platform_comment_id, commenter_name, comment_text, reply_text, replied, replied_at) VALUES ('facebook', $1, $2, $3, $4, true, NOW()) ON CONFLICT (platform_comment_id) DO NOTHING;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.platform_comment_id, $json.commenter_name, $json.comment_text, $json.reply_text] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-ce-0019",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4250, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    message: 'Comment engagement run complete',\n    replies_sent: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Build FB Comments Request", "type": "main", "index": 0 }]
      ]
    },
    "Build FB Comments Request": {
      "main": [
        [{ "node": "Fetch FB Posts", "type": "main", "index": 0 }]
      ]
    },
    "Fetch FB Posts": {
      "main": [
        [{ "node": "Extract Post IDs", "type": "main", "index": 0 }]
      ]
    },
    "Extract Post IDs": {
      "main": [
        [{ "node": "Fetch Comments per Post", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Comments per Post": {
      "main": [
        [{ "node": "Extract Comments", "type": "main", "index": 0 }]
      ]
    },
    "Extract Comments": {
      "main": [
        [{ "node": "Fetch Replied IDs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Replied IDs": {
      "main": [
        [{ "node": "Filter New Comments", "type": "main", "index": 0 }]
      ]
    },
    "Filter New Comments": {
      "main": [
        [{ "node": "IF: Any New Comments?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Any New Comments?": {
      "main": [
        [{ "node": "Expand to Items", "type": "main", "index": 0 }],
        [{ "node": "Nothing New", "type": "main", "index": 0 }]
      ]
    },
    "Expand to Items": {
      "main": [
        [{ "node": "Build Claude Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Claude Request": {
      "main": [
        [{ "node": "Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Claude API": {
      "main": [
        [{ "node": "Parse Claude Reply", "type": "main", "index": 0 }]
      ]
    },
    "Parse Claude Reply": {
      "main": [
        [{ "node": "Build FB Reply Request", "type": "main", "index": 0 }]
      ]
    },
    "Build FB Reply Request": {
      "main": [
        [{ "node": "Post Reply to Facebook", "type": "main", "index": 0 }]
      ]
    },
    "Post Reply to Facebook": {
      "main": [
        [{ "node": "Prepare Insert", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Insert": {
      "main": [
        [{ "node": "Insert social_comments", "type": "main", "index": 0 }]
      ]
    },
    "Insert social_comments": {
      "main": [
        [{ "node": "Log Summary", "type": "main", "index": 0 }]
      ]
    }
  }
}
