social-automation/workflows/workflow-content-publishing.json
{
  "name": "Concord — Content Publishing",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "cc-cp-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "cc-cp-0002",
      "name": "Count Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count FROM ingested_content WHERE status = 'pending';"
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    },
    {
      "id": "cc-cp-0003",
      "name": "IF: Items Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pending",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0004",
      "name": "Nothing New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        500
      ],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No pending items', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cc-cp-0005",
      "name": "Fetch Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        150
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_name, source_url, raw_title, raw_body, raw_image_url, language FROM ingested_content WHERE status = 'pending' ORDER BY ingested_at ASC LIMIT 5;"
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    },
    {
      "id": "cc-cp-0007",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ANTHROPIC_API_KEY = 'ANTHROPIC_API_KEY_FROM_ENV';\nconst item = $input.item.json;\nconst rawBody = (item.raw_body || '').substring(0, 3000);\nconst systemPrompt = 'You are a senior journalist and editor at Cameroon Concord, an independent English-language digital news platform covering Cameroon and Central Africa since 2014. Write like Reuters Africa — factual, authoritative, no sensationalism, no tribal framing, always in English.';\nconst userPrompt = 'Rewrite this raw news item as a complete Cameroon Concord article.\\n\\nRAW TITLE: ' + item.raw_title + '\\nRAW BODY: ' + rawBody + '\\nSOURCE: ' + item.source_name + '\\nLANGUAGE: ' + item.language + '\\n\\nCategories: politics(1), society(2), sportsnews(3), southern-cameroons(4), business(5), health(6), headlines(7), inside-cpdm(8)\\n\\nIf relevant to Cameroon/Chad/CAR/Congo/Gabon/Nigeria, respond ONLY with JSON (no markdown):\\n{\"publish\":true,\"title\":\"max 80 chars\",\"slug\":\"url-slug\",\"excerpt\":\"max 200 chars\",\"body\":\"<p>HTML article min 4 paragraphs</p>\",\"category_id\":1,\"category_slug\":\"politics\",\"meta_title\":\"max 60 chars\",\"meta_desc\":\"max 155 chars\",\"reject_reason\":null}\\n\\nIf not relevant:\\n{\"publish\":false,\"reject_reason\":\"reason\"}';\nconst requestBody = JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:2000,system:systemPrompt,messages:[{role:'user',content:userPrompt}]});\nreturn [{json:{api_key:ANTHROPIC_API_KEY,request_body:requestBody,ingested_id:item.id,raw_image_url:item.raw_image_url,source_url:item.source_url,source_name:item.source_name,raw_title:item.raw_title}}];"
      }
    },
    {
      "id": "cc-cp-0008",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        150
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-cp-0009",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeResponse = $input.item.json;\nconst promptData = $('Build Claude Prompt').all()[$itemIndex].json;\nconst content = claudeResponse.content && claudeResponse.content[0] ? claudeResponse.content[0].text : '';\nlet parsed;\ntry {\n  const clean = content.replace(/```json|```/g,'').trim();\n  const match = clean.match(/{[\\s\\S]*}/);\n  if (!match) throw new Error('No JSON');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed = {publish:false,reject_reason:'Parse error: '+e.message};\n}\nreturn [{json:{...parsed,ingested_id:promptData.ingested_id,raw_image_url:promptData.raw_image_url,source_url:promptData.source_url,source_name:promptData.source_name}}];"
      }
    },
    {
      "id": "cc-cp-0010",
      "name": "IF: Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-publish",
              "leftValue": "={{ $json.publish }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0012",
      "name": "Build CC Article Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CC_API_KEY = 'AUTOMATION_KEY_REMOVED';\nconst item = $input.item.json;\nconst slug = (item.slug || (item.title||'').toLowerCase().replace(/[^a-z0-9 -]/g,'').replace(/ +/g,'-').substring(0,100));\nconst payload = {title:item.title,slug:slug,excerpt:item.excerpt||'',body:item.body||'',categoryId:item.category_id||7,featuredImage:item.raw_image_url||'',status:'draft',metaTitle:item.meta_title||(item.title||'').substring(0,60),metaDesc:item.meta_desc||item.excerpt||''};\nreturn [{json:{api_url:'https://www.cameroon-concord.com/api/admin/articles',api_key:CC_API_KEY,payload_str:JSON.stringify(payload),ingested_id:item.ingested_id,title:item.title}}];"
      }
    },
    {
      "id": "cc-cp-0013",
      "name": "POST to Cameroon Concord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        150
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload_str }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-cp-0014",
      "name": "Handle CC Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.item.json;\nconst payload = $('Build CC Article Payload').all()[$itemIndex].json;\nconst success = !response.error && (response.id || response.article);\nconst articleId = response.id || (response.article && response.article.id) || null;\nreturn [{json:{success,article_id:articleId,ingested_id:payload.ingested_id,title:payload.title,error:response.error||null}}];"
      }
    },
    {
      "id": "cc-cp-0016",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        150
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{json:{message:'Content publishing run complete',articles_created:items.length,timestamp:new Date().toISOString()}}];"
      }
    },
    {
      "id": "cc-cp-0006a",
      "name": "Build Mark Processing Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst id = parseInt(item.id);\nreturn [{json:{query:`UPDATE ingested_content SET status='processing' WHERE id=${id} AND status='pending' RETURNING id,source_name,source_url,raw_title,raw_body,raw_image_url,language`}}];"
      }
    },
    {
      "id": "cc-cp-0006b",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1125,
        150
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    },
    {
      "id": "cc-cp-0011a",
      "name": "Build Mark Rejected Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function esc(v){if(v===null||v===undefined)return 'NULL';return \"'\"+ String(v).replace(/'/g,\"''\")+ \"'\";}\nconst r=$input.item.json;\nreturn [{json:{query:`UPDATE ingested_content SET status='rejected',reject_reason=${esc(r.reject_reason)} WHERE id=${parseInt(r.ingested_id)}`}}];"
      }
    },
    {
      "id": "cc-cp-0011b",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2375,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    },
    {
      "id": "cc-cp-0015a",
      "name": "Build Mark Published Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        150
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r=$input.item.json;\nconst artId=r.article_id?parseInt(r.article_id):'NULL';\nreturn [{json:{query:`UPDATE ingested_content SET status='published',cc_article_id=${artId} WHERE id=${parseInt(r.ingested_id)}`,pass:r}}];"
      }
    },
    {
      "id": "cc-cp-0015b",
      "name": "Mark Published in Neon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3125,
        150
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Count Pending Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Pending Items": {
      "main": [
        [
          {
            "node": "IF: Items Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Items Pending?": {
      "main": [
        [
          {
            "node": "Fetch Pending Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Items": {
      "main": [
        [
          {
            "node": "Build Mark Processing Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "IF: Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Publish?": {
      "main": [
        [
          {
            "node": "Build CC Article Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Mark Rejected Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CC Article Payload": {
      "main": [
        [
          {
            "node": "POST to Cameroon Concord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Cameroon Concord": {
      "main": [
        [
          {
            "node": "Handle CC Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle CC Response": {
      "main": [
        [
          {
            "node": "Build Mark Published Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published in Neon": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mark Processing Query": {
      "main": [
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mark Rejected Query": {
      "main": [
        [
          {
            "node": "Mark Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mark Published Query": {
      "main": [
        [
          {
            "node": "Mark Published in Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}