social-automation/workflows/workflow-news-ingestion.json
{
  "name": "Concord — News Ingestion",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "cc-ni-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "cc-ni-0002",
      "name": "Set RSS Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "jsCode": "return [\n  { json: { url: 'https://news.google.com/rss/search?q=cameroon&hl=en-US&gl=US&ceid=US:en', source_name: 'google_news_en', language: 'en' } },\n  { json: { url: 'https://news.google.com/rss/search?q=cameroun&hl=fr-FR&gl=FR&ceid=FR:fr', source_name: 'google_news_fr', language: 'fr' } },\n  { json: { url: 'https://www.journalducameroun.com/feed/', source_name: 'journal_du_cameroun', language: 'fr' } },\n  { json: { url: 'https://www.camer.be/rss.php', source_name: 'camer_be', language: 'fr' } },\n  { json: { url: 'https://www.mutations.cm/feed/', source_name: 'mutations_cm', language: 'fr' } },\n  { json: { url: 'https://www.rfi.fr/fr/afrique/cameroun/rss', source_name: 'rfi_afrique', language: 'fr' } }\n];"
      }
    },
    {
      "id": "cc-ni-0003",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ConcordBot/1.0)"
            }
          ]
        }
      }
    },
    {
      "id": "cc-ni-0004",
      "name": "Reattach Source Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const sources = $('Set RSS Sources').all();\nreturn $input.all().map((item, i) => ({\n  json: {\n    source_name: sources[i].json.source_name,\n    language: sources[i].json.language,\n    xmlData: item.json.data || ''\n  }\n}));"
      }
    },
    {
      "id": "cc-ni-0005",
      "name": "Parse RSS + Hash + Build Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\n\nconst items = $input.all();\nconst rows = [];\n\nfunction getTagContent(block, tag) {\n  const cdataOpen = '<' + tag + '><![CDATA[';\n  const cdataClose = ']]></' + tag + '>';\n  let si = block.indexOf(cdataOpen);\n  if (si !== -1) {\n    const ei = block.indexOf(cdataClose, si);\n    if (ei !== -1) return block.slice(si + cdataOpen.length, ei).trim();\n  }\n  const open = '<' + tag + '>';\n  const close = '</' + tag + '>';\n  si = block.indexOf(open);\n  if (si !== -1) {\n    const ei = block.indexOf(close, si);\n    if (ei !== -1) return block.slice(si + open.length, ei).trim();\n  }\n  return '';\n}\n\nfunction getAttrValue(block, attr) {\n  const DQ = String.fromCharCode(34);\n  const SQ = String.fromCharCode(39);\n  const dqSearch = attr + '=' + DQ;\n  let si = block.indexOf(dqSearch);\n  if (si !== -1) {\n    const start = si + dqSearch.length;\n    const end = block.indexOf(DQ, start);\n    if (end !== -1) return block.slice(start, end);\n  }\n  const sqSearch = attr + '=' + SQ;\n  si = block.indexOf(sqSearch);\n  if (si !== -1) {\n    const start = si + sqSearch.length;\n    const end = block.indexOf(SQ, start);\n    if (end !== -1) return block.slice(start, end);\n  }\n  return '';\n}\n\nfunction getImageUrl(block) {\n  const tags = ['<media:content ', '<enclosure '];\n  for (const tag of tags) {\n    const idx = block.indexOf(tag);\n    if (idx !== -1) {\n      const end = block.indexOf('>', idx);\n      if (end === -1) continue;\n      const tagContent = block.slice(idx, end);\n      const url = getAttrValue(tagContent, 'url');\n      if (url) return url;\n    }\n  }\n  return null;\n}\n\nfor (const item of items) {\n  const source_name = item.json.source_name || 'unknown';\n  const language = item.json.language || 'en';\n  const xmlText = item.json.xmlData || '';\n\n  const parts = xmlText.split('<item>');\n  const rssItems = [];\n  for (let i = 1; i < parts.length; i++) {\n    const endIdx = parts[i].indexOf('</item>');\n    if (endIdx !== -1) rssItems.push(parts[i].substring(0, endIdx));\n  }\n\n  for (const block of rssItems.slice(0, 20)) {\n    const title = getTagContent(block, 'title');\n    let link = getTagContent(block, 'link');\n    if (!link) link = getTagContent(block, 'guid');\n    const description = getTagContent(block, 'description');\n    const imageUrl = getImageUrl(block);\n\n    if (!title || !link) continue;\n\n    const hashInput = (title + link).toLowerCase().replace(/\\s+/g, '');\n    const content_hash = crypto.createHash('sha256').update(hashInput).digest('hex');\n\n    rows.push({\n      source_name,\n      source_url: link,\n      content_hash,\n      raw_title: title.substring(0, 500),\n      raw_body: description.substring(0, 5000),\n      raw_image_url: imageUrl,\n      language,\n      status: 'pending'\n    });\n  }\n}\n\nreturn rows.map(r => ({ json: r }));"
      }
    },
    {
      "id": "cc-ni-0006",
      "name": "Insert to Neon DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ingested_content (source_name, source_url, content_hash, raw_title, raw_body, raw_image_url, language, status) VALUES ($1, $2, $3, $4, $5, $6, $7, $8) ON CONFLICT (content_hash) DO NOTHING",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.source_name, $json.source_url, $json.content_hash, $json.raw_title, $json.raw_body, $json.raw_image_url, $json.language, $json.status] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "CONCORD_NEON_DB_CREDENTIAL_ID",
          "name": "Concord Neon DB"
        }
      }
    },
    {
      "id": "cc-ni-0007",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    message: 'Ingestion run complete',\n    rows_processed: items.length,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Set RSS Sources", "type": "main", "index": 0 }]
      ]
    },
    "Set RSS Sources": {
      "main": [
        [{ "node": "Fetch RSS Feed", "type": "main", "index": 0 }]
      ]
    },
    "Fetch RSS Feed": {
      "main": [
        [{ "node": "Reattach Source Metadata", "type": "main", "index": 0 }]
      ]
    },
    "Reattach Source Metadata": {
      "main": [
        [{ "node": "Parse RSS + Hash + Build Rows", "type": "main", "index": 0 }]
      ]
    },
    "Parse RSS + Hash + Build Rows": {
      "main": [
        [{ "node": "Insert to Neon DB", "type": "main", "index": 0 }]
      ]
    },
    "Insert to Neon DB": {
      "main": [
        [{ "node": "Log Summary", "type": "main", "index": 0 }]
      ]
    }
  }
}
