social-automation/workflows/workflow-content-publishing.json
{
  "name": "Concord — Content Publishing",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "cc-cp-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      }
    },
    {
      "id": "cc-cp-0002",
      "name": "Count Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count FROM ingested_content WHERE status = 'pending';"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0003",
      "name": "IF: Items Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-pending",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0004",
      "name": "Nothing New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No pending items', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cc-cp-0005",
      "name": "Fetch Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_name, source_url, raw_title, raw_body, raw_image_url, language FROM ingested_content WHERE status = 'pending' ORDER BY ingested_at ASC LIMIT 5;"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0006",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'processing' WHERE id = $1 AND status = 'pending' RETURNING id, source_name, source_url, raw_title, raw_body, raw_image_url, language;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.id] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0007",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ANTHROPIC_API_KEY = 'ANTHROPIC_API_KEY_FROM_ENV';\nconst item = $input.first().json;\nconst CC_CATEGORIES = [\n  { id: 1, slug: 'politics', name: 'Politics' },\n  { id: 2, slug: 'society', name: 'Society' },\n  { id: 3, slug: 'sportsnews', name: 'Sports' },\n  { id: 4, slug: 'southern-cameroons', name: 'S. Cameroons' },\n  { id: 5, slug: 'business', name: 'Business' },\n  { id: 6, slug: 'health', name: 'Health' },\n  { id: 7, slug: 'headlines', name: 'Headlines' },\n  { id: 8, slug: 'inside-cpdm', name: 'Biya' }\n];\nconst rawBody = (item.raw_body || '').substring(0, 3000);\nconst systemPrompt = 'You are a senior journalist and editor at Cameroon Concord, an independent English-language digital news platform covering Cameroon and Central Africa since 2014. Your editorial voice is factual, authoritative, and accessible. You write like Reuters Africa — no sensationalism, no tribal framing, no editorializing. You always write in English regardless of source language.';\nconst categoryList = CC_CATEGORIES.map(c => c.slug + ' (id:' + c.id + ')').join(', ');\nconst userPrompt = 'You are given a raw news item scraped from a news source. Your job is to:\\n1. Evaluate if this article is relevant to Cameroon, Chad, Central African Republic, Congo, Gabon, or Nigeria\\n2. If relevant, rewrite it as a complete professional news article for Cameroon Concord\\n3. Translate to English if the source is in French or another language\\n4. Write in Cameroon Concord journalistic style — NOT a direct translation, a full rewrite\\n5. Assign the correct category\\n\\nRAW TITLE: ' + item.raw_title + '\\nRAW BODY: ' + rawBody + '\\nSOURCE: ' + item.source_name + '\\nSOURCE LANGUAGE: ' + item.language + '\\n\\nAvailable categories: ' + categoryList + '\\n\\nIf relevant and publishable, respond ONLY with valid JSON (no markdown fences):\\n{\\n  \"publish\": true,\\n  \"title\": \"Clean journalistic English headline max 80 chars\",\\n  \"slug\": \"url-slug-lowercase-hyphens\",\\n  \"excerpt\": \"2-3 sentence summary max 200 chars\",\\n  \"body\": \"<p>Full article HTML using only p h2 h3 ul li tags. Min 4 paragraphs. Reuters-style English.</p>\",\\n  \"category_id\": 1,\\n  \"category_slug\": \"politics\",\\n  \"meta_title\": \"SEO title max 60 chars\",\\n  \"meta_desc\": \"SEO description max 155 chars\",\\n  \"reject_reason\": null\\n}\\n\\nIf NOT relevant:\\n{\\n  \"publish\": false,\\n  \"reject_reason\": \"Brief reason\"\\n}';\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2000,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n});\nreturn [{\n  json: {\n    api_key: ANTHROPIC_API_KEY,\n    request_body: requestBody,\n    ingested_id: item.id,\n    raw_image_url: item.raw_image_url,\n    source_url: item.source_url,\n    source_name: item.source_name,\n    raw_title: item.raw_title\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0008",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 150],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.request_body }}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "cc-cp-0009",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeResponse = $input.first().json;\nconst promptData = $('Build Claude Prompt').all()[$itemIndex].json;\nconst content = claudeResponse.content && claudeResponse.content[0] ? claudeResponse.content[0].text : '';\nlet parsed;\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  const match = clean.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON in response');\n  parsed = JSON.parse(match[0]);\n} catch (e) {\n  parsed = { publish: false, reject_reason: 'Parse error: ' + e.message };\n}\nreturn [{ json: { ...parsed, ingested_id: promptData.ingested_id, raw_image_url: promptData.raw_image_url, source_url: promptData.source_url, source_name: promptData.source_name } }];"
      }
    },
    {
      "id": "cc-cp-0010",
      "name": "IF: Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 150],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-publish",
              "leftValue": "={{ $json.publish }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0011",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'rejected', reject_reason = $2 WHERE id = $1;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.ingested_id, $json.reject_reason] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0012",
      "name": "Build CC Article Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CC_API_KEY = 'AUTOMATION_KEY_REMOVED';\nconst CC_API_URL = 'https://www.cameroon-concord.com/api/admin/articles';\nconst item = $input.first().json;\nconst slug = (item.slug || (item.title || '').toLowerCase().replace(/[^a-z0-9\\s-]/g,'').replace(/\\s+/g,'-').substring(0,100));\nconst payload = {\n  title: item.title,\n  slug: slug,\n  excerpt: item.excerpt || '',\n  body: item.body || '',\n  categoryId: item.category_id || 7,\n  featuredImage: item.raw_image_url || '',\n  status: 'draft',\n  metaTitle: item.meta_title || (item.title || '').substring(0,60),\n  metaDesc: item.meta_desc || item.excerpt || ''\n};\nreturn [{ json: { api_url: CC_API_URL, api_key: CC_API_KEY, payload_str: JSON.stringify(payload), ingested_id: item.ingested_id, title: item.title } }];"
      }
    },
    {
      "id": "cc-cp-0013",
      "name": "POST to Cameroon Concord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 150],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload_str }}",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "cc-cp-0014",
      "name": "Handle CC Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.first().json;\nconst payload = $('Build CC Article Payload').all()[$itemIndex].json;\nconst success = !response.error && (response.id || response.article);\nconst articleId = response.id || (response.article && response.article.id) || null;\nreturn [{ json: { success, article_id: articleId, ingested_id: payload.ingested_id, title: payload.title, error: response.error || null } }];"
      }
    },
    {
      "id": "cc-cp-0015",
      "name": "Mark Published in Neon",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'published', cc_article_id = $2 WHERE id = $1;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.ingested_id, $json.article_id] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0016",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn [{ json: { message: 'Content publishing run complete', articles_created: items.length, timestamp: new Date().toISOString() } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Count Pending Items", "type": "main", "index": 0 }]] },
    "Count Pending Items": { "main": [[{ "node": "IF: Items Pending?", "type": "main", "index": 0 }]] },
    "IF: Items Pending?": {
      "main": [
        [{ "node": "Fetch Pending Items", "type": "main", "index": 0 }],
        [{ "node": "Nothing New", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending Items": { "main": [[{ "node": "Mark Processing", "type": "main", "index": 0 }]] },
    "Mark Processing": { "main": [[{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]] },
    "Build Claude Prompt": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]] },
    "Parse Claude Response": { "main": [[{ "node": "IF: Publish?", "type": "main", "index": 0 }]] },
    "IF: Publish?": {
      "main": [
        [{ "node": "Build CC Article Payload", "type": "main", "index": 0 }],
        [{ "node": "Mark Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Build CC Article Payload": { "main": [[{ "node": "POST to Cameroon Concord", "type": "main", "index": 0 }]] },
    "POST to Cameroon Concord": { "main": [[{ "node": "Handle CC Response", "type": "main", "index": 0 }]] },
    "Handle CC Response": { "main": [[{ "node": "Mark Published in Neon", "type": "main", "index": 0 }]] },
    "Mark Published in Neon": { "main": [[{ "node": "Log Summary", "type": "main", "index": 0 }]] }
  }
}
