social-automation/workflows/workflow-content-publishing.json
{
  "name": "Concord — Content Publishing",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "cc-cp-0001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      }
    },
    {
      "id": "cc-cp-0002",
      "name": "Count Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS count FROM ingested_content WHERE status = 'pending';"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0003",
      "name": "IF: Items Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-pending",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0004",
      "name": "Nothing New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500],
      "parameters": {
        "jsCode": "return [{ json: { message: 'No pending items to publish', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cc-cp-0005",
      "name": "Fetch Pending Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_name, source_url, raw_title, raw_body, raw_image_url, language FROM ingested_content WHERE status = 'pending' ORDER BY ingested_at ASC LIMIT 5;"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0006",
      "name": "Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'processing' WHERE id = $1 AND status = 'pending' RETURNING id, source_name, source_url, raw_title, raw_body, raw_image_url, language;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.id] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0007",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ANTHROPIC_API_KEY = 'REPLACE_WITH_ANTHROPIC_KEY';\nconst item = $input.first().json;\n\nconst systemPrompt = 'You are a professional news editor for Cameroon Concord, an independent digital media platform covering Cameroon and Central Africa. Write in the style of Reuters Africa \u2014 factual, concise, and impartial. Output must always be in English. Do not use sensationalist language. Do not use tribal, ethnic, or regional framing. Do not editorialize. Focus on verified facts and credible context.';\n\nconst rawBody = (item.raw_body || '').substring(0, 2000);\nconst userPrompt = `You are given a raw news item from a Cameroon news source. Evaluate and produce social media copy.\\n\\nRAW TITLE: ${item.raw_title}\\nRAW BODY: ${rawBody}\\nSOURCE: ${item.source_name}\\nLANGUAGE: ${item.language}\\n\\nIf publishable, respond ONLY with valid JSON:\\n{\\n  \"headline\": \"Clean news headline max 80 chars\",\\n  \"facebook_post\": \"150-250 word Reuters-style post ending with hook question, no hashtags in body\",\\n  \"twitter_post\": \"Max 240 chars punchy and factual, no hashtags in body\",\\n  \"hashtags_facebook\": [\"tag1\",\"tag2\",\"tag3\",\"tag4\",\"tag5\"],\\n  \"hashtags_twitter\": [\"tag1\",\"tag2\",\"tag3\"],\\n  \"category\": \"politics|economy|security|society|sports|culture|environment\",\\n  \"image_search_query\": \"4-6 word stock photo query\",\\n  \"publish\": true,\\n  \"reject_reason\": null\\n}\\n\\nIf rejecting:\\n{\\n  \"publish\": false,\\n  \"reject_reason\": \"Brief reason why rejected\"\\n}`;\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1000,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n});\n\nreturn [{\n  json: {\n    api_key: ANTHROPIC_API_KEY,\n    request_body: requestBody,\n    ingested_id: item.id,\n    raw_image_url: item.raw_image_url,\n    source_url: item.source_url,\n    source_name: item.source_name,\n    raw_title: item.raw_title\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0008",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 150],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.api_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.request_body }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-cp-0009",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const claudeResponse = $input.first().json;\nconst promptData = $('Build Claude Prompt').all()[$itemIndex].json;\n\nconst content = claudeResponse.content && claudeResponse.content[0]\n  ? claudeResponse.content[0].text\n  : '';\n\nlet parsed;\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON found in Claude response');\n  parsed = JSON.parse(match[0]);\n} catch (e) {\n  parsed = { publish: false, reject_reason: 'Parse error: ' + e.message };\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    ingested_id: promptData.ingested_id,\n    raw_image_url: promptData.raw_image_url,\n    source_url: promptData.source_url,\n    source_name: promptData.source_name\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0010",
      "name": "IF: Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 150],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-publish",
              "leftValue": "={{ $json.publish }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0011",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, 350],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'rejected', reject_reason = $2 WHERE id = $1;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.ingested_id, $json.reject_reason] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0012",
      "name": "Build Facebook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const FB_PAGE_ID = 'REPLACE_WITH_FB_PAGE_ID';\nconst FB_PAGE_TOKEN = 'REPLACE_WITH_FB_PAGE_TOKEN';\nconst REPLACE_WITH_TWITTER_BEARER = 'REPLACE_WITH_TWITTER_BEARER';\nconst REPLACE_WITH_TWITTER_API_KEY = 'REPLACE_WITH_TWITTER_API_KEY';\nconst REPLACE_WITH_TWITTER_API_SECRET = 'REPLACE_WITH_TWITTER_API_SECRET';\nconst REPLACE_WITH_TWITTER_ACCESS_TOKEN = 'REPLACE_WITH_TWITTER_ACCESS_TOKEN';\nconst REPLACE_WITH_TWITTER_ACCESS_SECRET = 'REPLACE_WITH_TWITTER_ACCESS_SECRET';\n\nconst item = $input.first().json;\n\nconst fbHashtags = (item.hashtags_facebook || []).map(h => '#' + h.replace(/^#/, '')).join(' ');\nconst fbCaption = item.facebook_post + '\\n\\n' + fbHashtags;\n\nconst twHashtags = (item.hashtags_twitter || []).map(h => '#' + h.replace(/^#/, '')).join(' ');\nconst twitterPost = (item.twitter_post + ' ' + twHashtags).substring(0, 280);\n\nconst hasImage = !!item.raw_image_url && !item.raw_image_url.startsWith('tg_file:');\n\nlet fbEndpoint, fbBodyObj;\nif (hasImage) {\n  fbEndpoint = `https://graph.facebook.com/v19.0/${FB_PAGE_ID}/photos`;\n  fbBodyObj = { caption: fbCaption, url: item.raw_image_url, access_token: FB_PAGE_TOKEN };\n} else {\n  fbEndpoint = `https://graph.facebook.com/v19.0/${FB_PAGE_ID}/feed`;\n  fbBodyObj = { message: fbCaption, access_token: FB_PAGE_TOKEN };\n}\n\nreturn [{\n  json: {\n    fb_endpoint: fbEndpoint,\n    fb_body_str: JSON.stringify(fbBodyObj),\n    pass_through: {\n      ingested_id: item.ingested_id,\n      category: item.category,\n      source_url: item.source_url,\n      headline: item.headline,\n      image_url: hasImage ? item.raw_image_url : null,\n      facebook_post: fbCaption,\n      twitter_post: twitterPost\n    }\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0013",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 150],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.fb_endpoint }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.fb_body_str }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "cc-cp-0014",
      "name": "Handle FB Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $input.first().json;\nconst passThrough = $('Build Facebook Payload').all()[$itemIndex].json.pass_through;\n\nif (response.error) {\n  return [{\n    json: {\n      fb_success: false,\n      error_message: response.error.message || JSON.stringify(response.error),\n      pass_through: passThrough\n    }\n  }];\n}\n\nconst fbPostId = response.post_id || response.id || null;\n\nreturn [{\n  json: {\n    fb_success: true,\n    fb_post_id: fbPostId,\n    pass_through: passThrough\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0015",
      "name": "IF: FB Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3000, 150],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-fb",
              "leftValue": "={{ $json.fb_success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "cc-cp-0016",
      "name": "Insert Failed Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3250, 350],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO social_posts (ingested_id, platform, caption, status, error_message) VALUES ($1, 'facebook', $2, 'failed', $3);",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.pass_through.ingested_id, $json.pass_through.facebook_post, $json.error_message] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0017",
      "name": "Build Twitter Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.first().json;\nconst passThrough = item.pass_through;\n\nreturn [{\n  json: {\n    twitter_text: passThrough.twitter_post,\n    pass_through: passThrough,\n    fb_post_id: item.fb_post_id\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0018",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [3500, 150],
      "continueOnFail": true,
      "parameters": {
        "resource": "tweet",
        "operation": "create",
        "text": "={{ $json.twitter_text }}"
      },
      "credentials": {
        "twitterOAuth1Api": {
          "id": "CONCORD_TWITTER_CREDENTIAL_ID",
          "name": "Concord Twitter"
        }
      }
    },
    {
      "id": "cc-cp-0019",
      "name": "Prepare Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3750, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const twitterResult = $input.first().json;\nconst tweetPayload = $('Build Twitter Payload').all()[$itemIndex].json;\nconst pt = tweetPayload.pass_through;\n\nconst twitterPostId = twitterResult.data\n  ? twitterResult.data.id\n  : (twitterResult.id || null);\n\nreturn [{\n  json: {\n    ingested_id: pt.ingested_id,\n    category: pt.category,\n    source_url: pt.source_url,\n    fb_post_id: tweetPayload.fb_post_id,\n    fb_caption: pt.facebook_post,\n    twitter_post_id: twitterPostId,\n    twitter_caption: pt.twitter_post,\n    image_url: pt.image_url\n  }\n}];"
      }
    },
    {
      "id": "cc-cp-0020",
      "name": "Update ingested_content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ingested_content SET status = 'published' WHERE id = $1 RETURNING id;",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.ingested_id] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0021",
      "name": "Build social_posts Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4250, 150],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const results = $('Prepare Results').all()[$itemIndex].json;\n\nreturn [\n  {\n    json: {\n      ingested_id: results.ingested_id,\n      platform: 'facebook',\n      caption: results.fb_caption,\n      image_url: results.image_url,\n      image_source: results.image_url ? 'source' : null,\n      image_moderation_status: 'approved',\n      status: 'published',\n      platform_post_id: results.fb_post_id,\n      error_message: null\n    }\n  },\n  {\n    json: {\n      ingested_id: results.ingested_id,\n      platform: 'twitter',\n      caption: results.twitter_caption,\n      image_url: null,\n      image_source: null,\n      image_moderation_status: 'approved',\n      status: results.twitter_post_id ? 'published' : 'failed',\n      platform_post_id: results.twitter_post_id,\n      error_message: results.twitter_post_id ? null : 'Twitter post failed'\n    }\n  }\n];"
      }
    },
    {
      "id": "cc-cp-0022",
      "name": "Insert social_posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4500, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO social_posts (ingested_id, platform, caption, image_url, image_source, image_moderation_status, status, published_at, platform_post_id, error_message) VALUES ($1, $2, $3, $4, $5, $6, $7, NOW(), $8, $9);",
        "options": {
          "queryBatching": "independently",
          "queryParams": "={{ [$json.ingested_id, $json.platform, $json.caption, $json.image_url, $json.image_source, $json.image_moderation_status, $json.status, $json.platform_post_id, $json.error_message] }}"
        }
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0023",
      "name": "Consolidate for Rotation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4750, 150],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const allItems = $input.all();\nreturn [{ json: { published_count: allItems.length, timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "cc-cp-0024",
      "name": "Update social_rotation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5000, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE social_rotation SET posts_today = posts_today + 1, last_posted_at = NOW(), updated_at = NOW() WHERE platform IN ('facebook', 'twitter') AND category NOT LIKE 'offset_%';"
      },
      "credentials": {
        "postgres": { "id": "CONCORD_NEON_DB_CREDENTIAL_ID", "name": "Concord Neon DB" }
      }
    },
    {
      "id": "cc-cp-0025",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5250, 150],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    message: 'Content publishing run complete',\n    published_pairs: Math.floor(d.published_count / 2),\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Count Pending Items", "type": "main", "index": 0 }]
      ]
    },
    "Count Pending Items": {
      "main": [
        [{ "node": "IF: Items Pending?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Items Pending?": {
      "main": [
        [{ "node": "Fetch Pending Items", "type": "main", "index": 0 }],
        [{ "node": "Nothing New", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending Items": {
      "main": [
        [{ "node": "Mark Processing", "type": "main", "index": 0 }]
      ]
    },
    "Mark Processing": {
      "main": [
        [{ "node": "Build Claude Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [{ "node": "Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Claude API": {
      "main": [
        [{ "node": "Parse Claude Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [{ "node": "IF: Publish?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Publish?": {
      "main": [
        [{ "node": "Build Facebook Payload", "type": "main", "index": 0 }],
        [{ "node": "Mark Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Build Facebook Payload": {
      "main": [
        [{ "node": "Post to Facebook", "type": "main", "index": 0 }]
      ]
    },
    "Post to Facebook": {
      "main": [
        [{ "node": "Handle FB Response", "type": "main", "index": 0 }]
      ]
    },
    "Handle FB Response": {
      "main": [
        [{ "node": "IF: FB Success?", "type": "main", "index": 0 }]
      ]
    },
    "IF: FB Success?": {
      "main": [
        [{ "node": "Build Twitter Payload", "type": "main", "index": 0 }],
        [{ "node": "Insert Failed Post", "type": "main", "index": 0 }]
      ]
    },
    "Build Twitter Payload": {
      "main": [
        [{ "node": "Post to Twitter", "type": "main", "index": 0 }]
      ]
    },
    "Post to Twitter": {
      "main": [
        [{ "node": "Prepare Results", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Results": {
      "main": [
        [{ "node": "Update ingested_content", "type": "main", "index": 0 }]
      ]
    },
    "Update ingested_content": {
      "main": [
        [{ "node": "Build social_posts Rows", "type": "main", "index": 0 }]
      ]
    },
    "Build social_posts Rows": {
      "main": [
        [{ "node": "Insert social_posts", "type": "main", "index": 0 }]
      ]
    },
    "Insert social_posts": {
      "main": [
        [{ "node": "Consolidate for Rotation", "type": "main", "index": 0 }]
      ]
    },
    "Consolidate for Rotation": {
      "main": [
        [{ "node": "Update social_rotation", "type": "main", "index": 0 }]
      ]
    },
    "Update social_rotation": {
      "main": [
        [{ "node": "Log Summary", "type": "main", "index": 0 }]
      ]
    }
  }
}
